.noBg {
  background-color: Transparent !important;
  border: none !important;
  color: red;
}

span {
  background-color: Transparent !important;
  border: none !important;
}

.bgColor {
  background-color: #242424;
  min-height: 100vh;
}

.title {
  color: white;
}

.bigCb {
  height: 25px;
  width: 25px;
}