.title {
  margin-top: 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.36;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #a0a0a0;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumb {
  height: 40px;
  border-radius: 4px;
  margin: 12px;
}

.order {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
}

.timer {
  font-size: 12px;
  color: #a0a0a0;
  position: absolute;
  margin-top: 21px;
  -webkit-user-select: none;
}